useDynLib(DSSP, .registration=TRUE)
importFrom(Rcpp, evalCpp)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
## exportPattern("^[[:alpha:]]+")
S3method(print, dsspMod)
S3method(predict, dsspMod)
S3method(summary, dsspMod)
S3method(residuals, dsspMod)
S3method(print, dsspModsummary)
export(tps.rbf)
export(make.M)
export(sample.eta)
export(sample.delta)
export(sample.nu)
export(DSSP)
